<html>

  <head>
    <title>Chatroom</title>
    <style>
      body {
        font: 0.9em arial,helvetica,clean,sans-serif;
        padding: 0 10px;
      }
      
      #messages {
        border: 1px solid black;
        height: 65%;
        width: 80%;
        overflow: auto;
        margin-bottom: 10px;
        word-wrap: break-word;
        font: 1.0em Courier New, monospace;
      }
      
      #field-message {
        width: 80%;
        font: 1.0em Courier New, monospace;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var socket = io.connect();
        socket.on('message', function (data) {
          var $div = $('<div></div>');
          $div.text(data.text);
          $('#messages').append($div);
        });
      
        $('#enter-message').submit(function (e) {
          e.preventDefault();
          var $input = $('input[name=message]');
          socket.emit('message', {text: $input.val()});
          $input.val('');
        });
      });
    </script>
  </head>
  
  <body>
    <h1>Chatroom</h2>
    <p>Simple chatroom app built with node.js and socket.io</p>
    <div id="messages"></div>
    <form id="enter-message">
      <input name="message" id="field-message" placeholder="Your message"/>
      <input type="submit" value="Enter" />
    </form>
  </body>
  
</html>